################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AccountsApiServices/.vs
AccountsApiServices/AccountsApiServices/bin/AccountsApiServices.dll
AccountsApiServices/AccountsApiServices/bin/AccountsApiServices.dll
AccountsApiServices/AccountsApiServices/obj/Debug/AccountsApiServices.dll
AccountsApiServices/AccountsApiServices/obj/Debug/AccountsApiServices.pdb
AccountsApiServices/AccountsApiServices/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AccountsApiServices/AccountsApiServices/obj/Release/_WPPLastBuildInfo.txt
AccountsApiServices/AccountsApiServices/obj/Release/Package/PackageTmp/Areas/HelpPage/Views/Help/DisplayTemplates/TextSample.cshtml
AccountsApiServices/AccountsApiServices/obj/Debug/AccountsApiServices.dll
AccountsApiServices/AccountsApiServices/obj/Debug/AccountsApiServices.pdb
AccountsApiServices/AccountsApiServices/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AccountsApiServices/AccountsApiServices/obj/Release/AccountsApiServices.csproj.CopyComplete
AccountsApiServices/AccountsApiServices/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AccountsApiServices/AccountsApiServices/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
*.config
*.dll
*.pdb
*.txt
*.xml
*.cshtml
*.cache
*.dll
*.pdb
*.css
*.dll
*.pdb
*.dll
*.exe
*.rsp
*.js
*.user
*.csproj
*.dll
*.pdb
*.eot
AccountsApiServices/AccountsApiServices/AccountsApiServices.csproj
*.cs
*.CopyComplete
*.targets
*.map
*.ico
*.svg
*.ttf
*.woff
*.woff2
*.force
